<configuration debug="false">
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	<property name="logback.configurationStatus" value="off" />
	<!-- VARIABLES -->
	<timestamp key="logDate" datePattern="dd-MM-yyyy" />
	
	<!-- SALIDA POR FICHERO ROLLING -->
	<appender name="salidaFicheroRolling"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- RUTA Y NOMBRE DEL FICHERO -->
		<file>./logs/logjmrg-${logDate}.log</file>
		<!-- POLÍTICA DE TRATAMIENTO DEL FICHERO -->
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>./logs/logjmrg-${logDate}.%i.zip</fileNamePattern>
			<!-- CANTIDAD DE FICHEROS POSIBLES -->
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<!--  CADA CUÁNTO SALTA EL CORTE -->
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50KB</maxFileSize>
		</triggeringPolicy>
		<!-- FORMATO DE SALIDA -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-4level %logger{32} - [%method] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- CONSOLE APPENDER -->
	<appender name="salidaConsola" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} - [%method] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- EL NIVEL DETERMINA LO ESTRECHA QUE PUEDA SER LA TUBERÍA -->
	<root level="debug">
		<appender-ref ref="salidaConsola" />
		<appender-ref ref="salidaFicheroRolling" />
	</root>
</configuration>